{% load static %}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'project_examples/images/logo-circle.png' %}" type="image/x-icon">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'project_examples/css/styles.css' %}">
</head>
<body>
    <a href="/projekt">
        <img src="{% static 'project_examples/images/logo-circle.png' %}" alt="Logo" class="top-left-image">
    </a>

    {% block content %}{% endblock %}

</body>
</html>