{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<section id="header-title">
    <h1>Projekt</h1>
    <hr>
</section>

<section id="project-templates">
    <h2>Enkla Mallar</h2>

    <div>
        <div>
            <a href="/projekt/pizzeria">
                <img src="{% static 'main/images/website1.png' %}" alt="Pizzeria">
                <div>Pizzeria</div>
            </a>
        </div>
        <div>
            <a href="/projekt/frisörsalong">
                <img src="{% static 'main/images/website2.png' %}" alt="frisörsalong">
                <div>Frisörsalong</div>
            </a>             
        </div>
        <div>
            <a href="/projekt/byggfirma">
                <img src="{% static 'main/images/website3.png' %}" alt="Byggfirma">
                <div>Byggfirma</div>                    
            </a>
        </div>
    </div>
</section>

{% endblock %}
