{% extends 'layout.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<header>
    <img src="{% static 'images/logo-circle.png' %}" alt="SnabbWebb Logo">
    <h1>Välkommen till SnabbWebb</h1>
    <p>Vi bygger professionella och prisvärda hemsidor som hjälper ditt företag att lyckas online!</p>
</header>

<section id="services">
    <hr>
    <h2>Tjänster</h2>
    <div>
        <div>
            <div>
                <img src="{% static 'images/basic-service.jpg' %}" alt="Enkel Tjänst">
                <div>Enkel Tjänst</div>                
            </div>
            <p>Enkel Tjänst erbjuder en snabb och prisvärd webbsida med grundläggande funktioner för småföretag.</p>
        </div>
        
        <div>
            <div>
                <img src="{% static 'images/premium-service.png' %}" alt="Premium Tjänst">
                <div>Premium Tjänst</div>                
            </div>
            <p>Premium Tjänst erbjuder en skräddarsydd webbsida med avancerade funktioner för professionell närvaro.</p>
        </div>
        <div>
            <div>
            <img src="{% static 'images/technical-help.png' %}" alt="Tekniskt underhåll">
            <div>Tekniskt underhåll</div>                
            </div>
            <p>Tekniskt Underhåll säkerställer att din webbsida fungerar optimalt med uppdateringar och säkerhetskopior.</p>
        </div>
    </div>
    <hr style="margin-top: 40px;">
</section>

<section id="templates">
    <h2>Innovativa Projektexempel</h2>

    <div>
        <div>
            <img src="{% static 'images/text.jpg' %}" alt="">
            <div>Webbsite</div>                
        </div>
        <div>
            <img src="{% static 'images/text.jpg' %}" alt="">
            <div>Webbsite</div>                
        </div>
        <div>
            <img id="template_gallery" src="{% static 'images/template-gallery.jpg' %}" alt="">
            <div>Alla Mallar</div>                
        </div>
    </div>
</section>

<section id="contact">
    <h2>Kontakta oss</h2>
    <p>Har du frågor eller vill du anlita oss? Skicka ett mail till <a href="mailto:info@snabbwebb.se">info@snabbwebb.se</a> eller ring oss på <strong>+46 70 123 45 67</strong>.</p>
</section>

{% endblock %}
