@media (max-width: 767px) {
    .navbar {
        padding: 2rem 2rem;

    }

    header img {
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 1.4rem;
    }

    #services div {
        flex-direction: column;
        gap: 5vh;
    }

    #services div a div {
        width: 100%; 
    }

    #services div a div div {
        height: 35vh; 
        width: 100%; 
        border-radius: 0;
        padding: 0;
        position: relative; 
    }

    #services div a div div div {
        width: 100%; 
        font-size: 9vw;  
    }

    #services div a div p {
        font-size: 4vw;
        padding: 5vw;
    }

    #templates h2 {
        font-size: 11vw;
    }

    #templates div {
        flex-direction: column;
        align-items: center;
        border-left: none;
        border-right: none;
    }

    #templates div div {
        height: 55vh; 
        width: 55vw; 
    }

    #templates div div a div {
        font-size: 8vw;    
    }

    #project-templates h2 {
        font-size: 12vw;
    }

    #project-templates div {
        flex-direction: column;
        align-items: center;
    }

    #project-templates div div {
        height: 55vh; 
        width: 55vw; 
    }

    #contact-info div {
        width: 80vw;
    }

    #contact-info div div p {
        font-size: clamp(1rem, 5.5vw, 1.8rem);
        margin: 15px 0;    
    }

    .service-display {
        flex-direction: column;
    }
   
    
    .service-display div h2 {
        font-size: 6.5vw;
    }
    
    .service-display div p {
        font-size: 4vw;
        width: 73vw;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .service-display div h3 {
        font-size: 5vw;
    }
    
    .service-display img {
        display: none;
    }

    #contact h2 {
        font-size: 10vw;
    }
    
}